html {
    background-color: #1c87c9;
    color: white;
}

table {
    align-content: center;
}

h1{
    text-align: center;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    background-color: lightblue;
    color: black;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table > tr > td > ol > li {
    text-align: justify;
}

img {
   padding: 10px;
   border: 3px solid blue;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 150px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}

caption {
    caption-side: bottom;
    color: white;
}